$error-color: #b94a48;

.content {
	width: 100%;
	height: auto;
	padding: 0px 12px;
}

header {
	h1 {
		text-shadow: 0 2px 0 #eff;
	}
}

select, .vform input, .vform {
	margin-bottom: auto !important;
}

// table {
// 	margin-bottom: 10px;
// }

form.tr, div.tr {
	display: table-row;
}
div.table {
	display: table;
	margin-bottom: 10px;
	width: 100%;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	border: solid #ccc 1px;
	border-left: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 2px #d1d1d1;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	border-spacing: 0;

	div.tr:first-child {
		span.th:first-child, span.td:first-child {
			border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-webkit-border-top-left-radius: 5px;
		}
		span.th:last-child, span.td:last-child {
			border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
			-webkit-border-top-right-radius: 5px;
		}
	}
	div.tr:last-child {
		span.th:first-child, span.td:first-child {
			border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			-webkit-border-bottom-left-radius: 5px;
		}
		span.th:last-child, span.td:last-child {
			border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-webkit-border-bottom-right-radius: 5px;
		}
	}
}

span.td, span.th {
	display: table-cell;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 10px;
	// text-align: left;
}
span.th {
	background-color: #f0f0f0;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
span.td {
	font-size: 14px;
}

a {
	&.remove-link {
		color: #f00;
		&:hover {
			color: #833;
		}
	}

	&.comment-link, &.unremove-link {
		color: #0b0;
		&:hover {
			color: #383;
		}
	}
}

.tooltip:hover:after {
	width: 240px;
}

td.cutoff {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100px;
}

.hform input[type="file"] {
	width: 60%
}

.vform, .hform {
	label {
		line-height: 30px;
	}
}

p {
	line-height: 30px; // to match inputs
	&.err {
		color: $error-color;
		height: 30px;
	}
}

ul span.logged-in {
	position: absolute;
	right: 15px;
}

table.tablesorter thead tr .header {
	background-image: url(../images/tablesorter/themes/blue/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/tablesorter/themes/blue/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/tablesorter/themes/blue/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #bce8f1;
}

div.comment-popover {
	position: absolute;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
}

.removed {
	opacity: 0.5;
	text-decoration: line-through;
}

p.note {
	background-color: #fff;
	padding: 10px 0;
	color: #333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

p.code-example {
	background-color: #ddd;
	padding: 10px 10px;
	font-family: monospace;
	line-height: normal;
	font-size: 12px;
}

// .dimmed {
//   position: relative;
// }

// .dimmed:after {
//   content: " ";
//   z-index: 20;
//   display: block;
//   position: absolute;
//   height: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   background: rgba(0, 0, 0, 0.5);
// }