doctype html
mixin title
	| Kadie's Subject Pool Management System

html
	head
		title: +title

		link(rel='stylesheet' href='/stylesheets/IVORY-master/css/ivory.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/jquery.resizableColumns.css')

		script(src='/javascripts/lib/jquery-1.11.2.min.js')
		script(src='/javascripts/lib/tablesorter/jquery.tablesorter.min.js')
		script(src='/javascripts/lib/jquery.resizableColumns.min.js')

		block scripts
	body
		header.info: div.row
			h1.text-center: +title
		block content