extends layout

block scripts
	script(src='/javascripts/pools.js')

block content
	div.row
		ul.breadcrumb
			li
				a(href='/') Home 
				span.divider /
			li Pools
			
			include _loginMsg.jade
	div.content.space-top
		div.c3.centered
			table
				tr
					th Name
					th
				each pool, i in pools
					tr
						td: a(href='/pool/#{pool._id}')= pool.name
						td.text-center
							a.remove-link(href='/pool/#{pool._id}/remove') x

			p.space-top: a(href='/add-pool')
				strong + 
				| Add pool

